h1{
    color: white;
    background-color: blue;
}



.weatherContainer {
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    margin-left: 40%;
    padding-left: 35%;
    margin-bottom: 65px;
     
  }

  .weatherContainer2 {
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    margin-left: 40%;
    padding-left: 35%;
    margin-bottom: 65px;
     
  }
  .weatherContainer3 {
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    margin-left: 40%;
    padding-left: 35%;
    margin-bottom: 65px;
     
  }

  .weatherContainer4 {
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    margin-left: 40%;
    padding-left: 35%;
    margin-bottom: 65px;
     
  }

  .weatherContainer5 {
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    margin-left: 40%;
    padding-left: 35%;
    margin-bottom: 65px;
     
  }
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .content {
    font-size: 16px;
    line-height: 1.5;
  }

  .list {
    margin-top: 10px;
    padding-left: 20px;
    position: relative;
  }

  .list-item {
    margin-bottom: 5px;
    position: relative;
  }


  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .content {
    font-size: 16px;
    line-height: 1.5;
  }

  .list {
    margin-top: 10px;
    padding-left: 20px;
    position: relative;
    padding-bottom: 55px;
  }

  

  body{
    background-color:rgba(37, 84, 99, 0.238);
    
  }

  
